* {
  all: unset;
	font-family: ;
	font-size: 12pt;
	border: none;
}

#outer-box {
  padding-top: 10px;
  background-color: rgba(27, 3, 41, 0.80);
}

#input {
  padding: 10px;
	margin: 0px 10px;
	background-color: rgb(14, 3, 20);
}

#input image {
	margin-right: 10px;
}

#scroll {
	margin: 10px;
}

#entry:selected {
	padding: 5px 20px;
	background-color:#0e0314;
	border-left: 3px solid #39ff14;
}

#text {
	margin-left: 15px;
}
